@font-face {
   font-family: 'Geist';
   src: url('../public/fonts/Geist-Regular.woff2') format('woff2');
   font-weight: 400;
}

@font-face {
   font-family: 'Geist';
   src: url('../public/fonts/Geist-Bold.woff2') format('woff2');
   font-weight: 700;
}

:root {
   --purple: #9153e7;
   --grey: #666;
   font-size: 20px;
}

body {
   font-family: 'Geist', sans-serif;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

a {
   color: #333;
   text-decoration: none;
}

ul {
   list-style-type: none;
   padding: 0;
}

button {
   border: none;
   background-color: transparent;
}

.page-container {
   display: flex;
   height: 100vh;
}

.header-main-container {  
   margin-left: 390px;
   width: 100%;
   transition: width 0.5s ease, margin 0.5s ease;
}

.header-main-container.strech-to-fullscren {
   width: calc(100vw + 280px); /* Increase the width */
   margin-left: 20px; /* Shift the element to the left */
}

header {
   background-color: #fff;
   color: #000;
   padding: 1rem;
   text-align: center;
}

aside {
   position: fixed;
   top: 0;
   left: 0;
   background-color: #f4f4f4;
   padding: 2rem;
   font-size: 1.2rem;
   display: flex;
   flex-direction: column;
   height: 100vh;
   padding-right: 0;
   width: 350px;
   transition: transform 0.5s ease;
}

aside.show {
   transform: translateX(-280px);
   background-color: #fff;
}

main {
   background-color: #fff;
   padding: 2rem 5rem;
}

.material-symbols-outlined {
   font-family: 'Material Symbols Outlined', Arial, sans-serif;
   font-size: 2rem;
}

.filled {
   font-variation-settings: 'FILL' 1;
   color: var(--purple);
}

.nav-item a,
.user,
#toggle-sidebar,
.add-project-btn,
.add-task-btn {
   display: flex;
   align-items: center;
   gap: 10px;
   padding: 1rem 0.7rem;
   border-radius: 10px;
   transition: background-color 0.3s ease;
   cursor: pointer;
}

.nav-item a:hover,
.user:hover,
#toggle-sidebar:hover,
.add-project-btn:hover,
.add-task-btn:hover {
   background-color: #dfdddda6;
}

.nav-item a.show, .add-project-btn.show {
   background-color: #fff;
   pointer-events: none;
}

.nav-item a.show:hover, .add-project-btn.show {
   background-color: #fff;
}

.navigation ul {
   display: flex;
   flex-direction: column;
   margin-top: 0;
}

.small {
   font-size: 1.5rem;
}

.tasks-number {
   display: flex;
   align-items: center;
   gap: 5px;
   font-size: 2rem;
   color: var(--grey);
   margin-left: 5px;
}

.project-name {
   margin: 0;
   font-size: 3rem;
}

.task {
   display: flex;
   margin-top: 10px;
   border-top: 1px solid #d4d4d4;
   padding: 1rem;
   width: 100%;
}

.task--content {
   width: 100%;
}

.task--checkbox {
   border: 1px solid #000;
   height: 1.5rem;
   width: 1.5rem;
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
   cursor: pointer;
   position: relative;
   transition: background-color 0.3s;
   margin-right: 15px;
}

.task--checkbox.completed {
   background-color: var(--purple);
   border: 1px solid var(--purple);
   color: #fff;
}

.task--checkbox.completed:hover {
   background-color: #000;
}

.check-icon {
   opacity: 0;
   visibility: hidden;
   font-size: 1.2rem;
   transition: opacity 0.3s, visibility 0.3s;
   user-select: none;
}

.check-icon.completed {
   opacity: 1;
   visibility: visible;
}

.task--checkbox:hover .check-icon {
   opacity: 1;
   visibility: visible;
}

.task--checkbox:hover {
   background-color: #f0f0f0;
}

.task--header {
   display: flex;
   justify-content: space-between;
}

.task--title {
   font-size: 1.5rem;
   margin-bottom: 0.6rem;
   line-height: 1;
}

.task-btns span {
   cursor: pointer;
   border-radius: 10px;
   transition: color 0.3s ease;
}

.task-btns span:hover {
   color: var(--purple);
}

.task--description {
   font-size: 1.2rem;
   color: var(--grey);
   margin-bottom: 1rem;
}

.task--footer {
   display: flex;
   justify-content: space-between;
}

.task--date {
   color: var(--purple);
}

.task--date,
.task--project {
   display: flex;
   align-items: center;
}

.tasks {
   width: 100%;
}

.user {
   display: flex;
   align-items: center;
   cursor: pointer;
}

.avatar {
   font-size: 2.5rem;
}

.aside-header {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-bottom: 0.5rem;
   padding-right: 2rem;
}

#toggle-sidebar {
   cursor: pointer;
}

.add-project-btn {
   font-size: 1.2rem;
   display: flex;
   align-items: center;
   font-weight: 800;
   color: var(--purple);
   gap: 10px;
   width: 100%;
   cursor: pointer;
}

.add-project-btn span,
.add-task-btn span {
   background-color: var(--purple);
   color: #fff;
   border-radius: 50%;
}

.sidebar-content {
   overflow: auto;
   padding-right: 10px;
}

.sidebar-content.show {
   overflow: hidden;
}

.project-list {
   margin-bottom: 150px;
}

.form-container {
   position: fixed;
   top: 50%;
   left: 50%;
   background-color: #fff;
   transform: translate(-50%, -50%) translateY(-300px);
   width: 30vw;
   height: 280px;
   z-index: 999;
   border: 1px solid #f0f0f0;
   box-shadow: 0px 0px 127px 14px rgba(0, 0, 0, 0.34);
   border-radius: 30px;
   padding: 2rem 1.5rem;
   min-width: 700px;
   opacity: 0;
   visibility: hidden;
   pointer-events: none;
   transition: opacity 0.3s ease, transform 0.3s ease;
}

.form-container.show {
   opacity: 1;
   visibility: visible;
   transform: translate(-50%, -50%) translateY(0px);
   pointer-events: auto;
}

.form-container form {
   display: flex;
   flex-direction: column;
   height: 100%;
}

.form-container input,
.form-container button {
   font-size: 1.3rem;
}

.form-container input {
   border: none;
   font-size: 1.7rem;
   font-weight: 600;
   margin-bottom: 1rem;
}

.form-container .form .description-input {
   font-weight: 400;
   font-size: 1.1rem;
}

.form-container .form .date-input {
   font-size: 1rem;
   font-weight: 400;
   display: flex;
}

input[type='date']::-webkit-calendar-picker-indicator {
   display: none;
}

.form-container input:focus {
   outline: none;
   border: none;
}

.form-container input::placeholder {
   color: #aaaaaa;
}

.form-buttons {
   display: flex;
   justify-content: end;
   gap: 10px;
   margin-top: auto;
}

.form-buttons button {
   padding: 0.5rem;
   border-radius: 5px;
   font-weight: 600;
   cursor: pointer;
   transition: background-color 0.3s ease;
}

.submit-btn {
   background-color: var(--purple);
   color: #fff;
}

.submit-btn:hover {
   background-color: #7a31e0;
}

.submit-btn:disabled {
   background-color: #a07fcf;
   cursor: not-allowed;
}

.cancel-btn {
   color: #727272;
}

.cancel-btn:hover {
   background-color: #e5e5e5da;
}

.project-icons {
   display: flex;
   gap: 10px;
   flex-wrap: wrap;
}

.icon-option,
.projects-dropdown-btn,
.option {
   display: flex;
   align-items: center;
   border: 1px solid #e5e5e5;
   flex-grow: 0;
   color: #727272;
   padding: 3px 5px;
   gap: 10px;
   cursor: pointer;
   transition: background-color 0.3s ease;
}

.icon-option:hover,
.projects-dropdown-btn:hover,
.option:hover {
   background-color: #e5e5e5da;
}

.icon-option.pressed {
   background-color: var(--purple);
   color: #fff;
}

.add-task-btn {
   font-size: 1.2rem;
   font-weight: 800;
   color: var(--purple);
   display: flex;
   align-items: center;
   cursor: pointer;
   gap: 10px;
}

.add-task-btn span {
   font-size: 1.5rem;
}

.project-header {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.date-container {
   display: flex;
   gap: 5px;
}

.date-container label {
   color: #5f5f5f;
   margin-left: 2px;
}

.project-name-p {
   margin: 0;
}

.add-project-footer {
   display: flex;
   justify-content: space-between;
   margin-top: auto;
   align-items: center;
}

.projects-dropdown-btn {
   font-weight: bold;
   width: 200px;
}

.projects-dropdown-list {
   position: relative;
   display: inline-block;
}

.options-container {
   position: absolute;
   top: 100%;
   left: 0;
   width: 100%;
   box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
   opacity: 0;
   transform: translateY(-10px);
   pointer-events: none;
   transition: opacity 0.3s ease, transform 0.3s ease;
   z-index: 1000;
}

.options-container:hover {
   background-color: #888;
}

.options-container.show {
   opacity: 1;
   transform: translateY(0);
   pointer-events: auto;
   visibility: visible;
}

.option {
   background-color: #fff;
}

#disable-overlay {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: 998;
   visibility: hidden;
   pointer-events: none;
   transition: visibility 0.3s ease;
}

#disable-overlay.show {
   visibility: visible;
   pointer-events: auto;
}

.menu-item {
   margin: 0;
}

.active {
   background-color: #bea7df80;
   border-radius: 10px;
}

.active.show {
   background-color: #fff;
}

.nav-item .active:hover {
   background-color: #bea7df80 !important;
}

.nav-item .active.show:hover {
   background-color: #fff !important;
}
